#backToTop
  display: none
  position: fixed
  bottom: 20px
  right: 30px
  z-index: 99

// Search page
.logo // logo center horizontaly
  margin: auto
#search-info a:hover // fix color on dark
  color: white
.card-equal-height // fix
  display: flex
  flex-direction: column
  height: 100%
.card-equal-height .card-footer
  margin-top: auto

// workaround https://github.com/jgthms/bulma/issues/3098
.hero-head
  a.navbar-item, a.navbar-link
    color: white
  a.navbar-item:hover, a.navbar-link:hover
    color: #ff5050
