title Write-up Factory
meta(charset='UTF-8')
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="The place to find write-ups (TryHackMe, HackTheBox, etc.)")
meta(name="keywords", content="CyberSecurity,write-up,challenge,ctf")
meta(name="author", content="Alexandre ZANNI")
link(rel='stylesheet', href='css/vendor/bulma/bulma.css', type='text/css')
link(rel='stylesheet', href='css/vendor/fontawesome/css/all.min.css', type='text/css')
link(rel='stylesheet', href='css/site.css', type='text/css')
link(rel='shortcut icon', href='https://inventory.raw.pm/img/favicon.ico')
