.hero-head
    nav(role='navigation' aria-label='main navigation').navbar
        .container
            .navbar-brand
                a(href='https://inventory.raw.pm/').navbar-item
                    img(src='https://inventory.raw.pm/img/rawsec_logo_355x286.svg', alt='Rawsec logo')
                a(role='button' aria-label='menu' aria-expanded='false').navbar-burger.has-text-link
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
            .navbar-menu
                .navbar-end
                    a(href='index.html').navbar-item
                        span.icon
                            i.fas.fa-search
                        span Search
                    a(href='about.html').navbar-item
                        span.icon
                            i.fas.fa-info-circle
                        span About
                    .navbar-item.has-dropdown.is-hoverable
                        a.navbar-link
                            span.icon
                                i.fas.fa-ellipsis-h
                        .navbar-dropdown
                            a.navbar-item(href='https://blog.raw.pm/') Blog
                            a.navbar-item(href='https://inventory.raw.pm/') Inventory
                            a.navbar-item(href='https://blog.raw.pm/domains/') Domains
                            a.navbar-item(href='https://pwn.by/noraj/') noraj
                    a(href='https://gitlab.com/rawsec/writeup-factory' title='rawsec write-up factory gitlab repository').navbar-item
                        span.icon
                            i.fab.fa-gitlab
                    a(href='https://twitter.com/rawsec_cyber' title='rawsec twitter').navbar-item
                        span.icon
                            i.fab.fa-twitter
                    a(href='https://discord.gg/xvTb2vx' title='rawsec discord').navbar-item
                        span.icon
                            i.fab.fa-discord
                    a(href='https://www.reddit.com/r/Rawsec' title='rawsec reddit').navbar-item
                        span.icon
                            i.fab.fa-reddit-alien
