extend layout/layout.pug

block content
    section.section
        .container
            .content
                h2.title.is-2#about About

                p Challenge platform are a superb way to learn security practices, there are many challenges and walkthrough of different levels and with each one you manage to pass you learn a new thing. But there are several ways to get rooting a machine, get a flag, etc. That's why I created this website, as a site to share different unofficial write-ups to see different techniques and acquire even more knowledge. That is our goal and our passion, to share to learn together.

                p Also on TryHackMe it's the room author that must validate the write-ups submissions and very often the rooms are not maintained very long so the write-up you submit will never get accepted and listed on the page. That's why having an unofficial repository to list them is really helpful.

                p On HackTheBox you won't be able to share write-ups for non-retired boxes even if you share it password-protected.
