extend layout/search.pug

block content
    .container.has-text-centered
        .columns
            .column.is-half.is-offset-one-quarter
                h1.title.is-1.has-text-primary Write-up factory
                figure.image.is-128x128.logo
                    img(src='https://inventory.raw.pm/img/rawsec_logo_dark_355x286.svg')
                h6.title.is-6 The place to find write-ups (TryHackMe, HackTheBox, etc.)
                .field
                    .control.has-icons-right
                        input.input.is-rounded.is-primary(placeholder="Search" onInput="searchInput(this.value)")
                        span.icon.is-right
                            i.fas.fa-search
        .columns.is-multiline#output

block optional-script
    // Search lib
    script(src='js/vendor/minisearch/index.js')
    // custom search
    script(src='js/search.js')

